@model Student

@{
    ViewBag.Title = "Регистрация студента";
}

<h2>Регистрация студента</h2>

@using (Html.BeginForm("Register", "Student", FormMethod.Post))
{
    @Html.ValidationSummary(true)

    <div>
        @Html.LabelFor(model => model.LastName)
        @Html.TextBoxFor(model => model.LastName)
        @Html.ValidationMessageFor(model => model.LastName)
    </div>

    <div>
        @Html.LabelFor(model => model.FirstName)
        @Html.TextBoxFor(model => model.FirstName)
        @Html.ValidationMessageFor(model => model.FirstName)
    </div>

    <!-- Добавьте остальные поля модели -->

    <input type="submit" value="Зарегистрировать" />
}
